.env
node_modules
task-manager-931cc-firebase-adminsdk-4kta0-3d50442147.json# Ignore environment files
.env

# Other files to ignore
node_modules
task-manager-931cc-firebase-adminsdk-4kta0-3d50442147.json
