@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
    /* background-color: rgba(108, 105, 105, 0.121);
    border-radius: 20px; */
}

/* ::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 255, 0.468);
    border-radius: 20px;
} */